<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162499372255-otuhmaoutrtndu385c2n4rdb8vpmc9oo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162499372255-otuhmaoutrtndu385c2n4rdb8vpmc9oo</string>
	<key>API_KEY</key>
	<string>AIzaSyDMAN5cakanFgzMG3PdpO-jdTgO5rP1_38</string>
	<key>GCM_SENDER_ID</key>
	<string>162499372255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.forcompagnie.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>database-caseddu</string>
	<key>STORAGE_BUCKET</key>
	<string>database-caseddu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162499372255:ios:9f20218c81ed7a2233356a</string>
</dict>
</plist>